#banner table{
  background-color: black;
  margin-left: 10%;
  width: 80%;
  border-radius: 10px;
}
#banner table tr td{
  color: white;
}
.arriba{
  padding-bottom: 70px;
  margin-left: -90px;
}
.abajo{
  margin-left: -100px;

}
#portada{
  margin-left: 10%;
  width: 90%
}
ul, ol{
  list-style: none;
}
.nav li a{
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 20px 20px;
  display: block;
}
.nav > li{
  float: left;
}
.nav li ul li a{
  margin-left:  -35%;
}
.nav li a:hover{
  background-color: blue;
}
.nav li ul{
  display: none;
  position: absolute;
}
.nav li:hover > ul{
  display: block;
}
#marco{
  background-color: black;
  color: white;
  border-radius: 20px;
  width: 80%;
  margin-left: 10%;
}
#portada ul{
  list-style: none;
  padding-bottom: 0%;
}
#portada ul li{
  display: inline-block;
}
#portada ul li img{
  border-radius: 20px;
}
.marmota{
  padding-left: 10%;
}
#introduccion ul{
  list-style: none;

}
#introduccion ul li{
  display: inline-block;
  margin: 0%;
}
#introduccion ul li table tr th p{
  color: blue;
  margin: 5px;
}
#introduccion ul li table{
  border-color: white;
  border: 5px;
  background-color: gray;
}
#introduccion ul li table tr {
  border-color: white;
}
.texto{
  width: 50%;
  text-align: justify;
  padding-left: 3%;
}
.titulo{
  padding-bottom: -500px;
}
.subtitulo{
  padding-bottom: -100px;
}
.intro{
  padding-right: 0%;
}
#introduccion ul li ul li{
  display: inline-inline-block;
}
.letras{
  font-size: 15px;
  padding-left: -50px;
}
#anatomia table tr td{
  font-size: 15px;
  padding-left: : -30%;
}
#anatomia table{
  text-align: justify;
}
.texto2{
  width: 60%;
  font-size: 50%;
  padding-left: -15%;
}
#alimentacion{
  padding-top: 20px;
  text-align:justify;
  margin: 20px;

}
#comportamiento{
  text-align: justify;
  margin: 20px;
}
#reproduccion{
  text-align: justify;
  margin: 20px;
}
#distribucion{
  text-align: justify;
  margin: 20px;
}
#distribucion table tr td img{
  margin: 20px;
}
#marmotona{
  width: 60%;
  padding-left: 7%;
}
footer{
  background-color: black;
  width: 80%;
  height: 100px;
  margin-left:10%;
  margin-top: 3%;
  border-radius: 10px;
  margin-bottom: 10%;
}
footer ul li{
  display: inline-block;
  color: white;
  padding-top: 3%;
}
footer ul li svg{
  background-color: white;
  color: red;
}
.email{
  padding-left: 80%;
}
